#pageContainer {
	/*background-image:url('.../static/img/Capture.png');
	background-repeat:no-repeat;
	background-position:top center;
	text-align:center;
	min-height:1023px;*/
	background-color:#282828;
}
@font-face {
	font-family: TF2;
	src: url('C:/Users/Buildexboy/Desktop/TF2 loadout/Static/font/tf2build.tff');
}
body{
	font-family:TF2;
}