#pageContainer {
	/*background-image:url('.../static/img/Capture.png');
	background-repeat:no-repeat;
	background-position:top center;
	text-align:center;
	min-height:1023px;*/
	background-color:#282828;
}
@font-face {
	font-family: tf2build;
	src: url('../fonts/tf2build.ttf');
}
.body{
	font-family:tf2build;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	cursor: default;
}
#header{
	background-color:#E2E1E1;
}

#body{
	background-color:#CFCAC5;
}
.btn{
	background-color:#A5A19D;
}
#background{
	background-color:#A5A19D;
}
