#pageContainer {
	background-color:#282828;
}
@font-face {
	font-family: tf2build;
	src: url('../fonts/tf2build.ttf');
}
.body{
	font-family:tf2build;
	overflow:auto;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	cursor: default;
}
#header{
	background-color:#E2E1E1;
}
#body{
	background-color:#CFCAC5;
}
.btn{
	background-color:#A5A19D;
}
#background{
	background-color:#A5A19D;
}
#theImage{
	height:50%;
	width: 50%;
}
#weapons{
	margin-right:4px;
	position:relative;
	right:35%;
	height:200px;
	width:200px;
	border-radius:10px;
	border-style:solid;
	border-width:2px;
	border-color:#81776E;
    transform: translate(-10%, 0%);
}
hr{
	border-color:red;
}
.character{
	margin:0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer{
	height:60px;
	line-height: 90px;
	background-color:#CFCAC5;
	text-align:center;
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}